<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">
<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>CNP</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>E-mail</th>
    </tr>
    </thead>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.cnp}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.email}"></td>
    </tr>
</table>

</body>
</html>