<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragmentsAdmin :: head"></head>

<body class="container">

<header th:replace="fragmentsAdmin :: header"></header>

<form method="post">


    <th:block th:each="user : ${users}">
        <div class="form-group">
            <label>
                <span th:text="${user.email}" ></span>
                <input type="checkbox" name="userIds" th:value="${user.id}" class="form-control">
            </label>
        </div>
    </th:block>


    <input type="submit" th:value="Delete" class="btn btn-danger">
</form>

</body>
</html>