<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Registration and Login App</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
<!--					<li class="nav-item"><a class="nav-link" href="/events">All Events</a></li>-->
<!--					<li class="nav-item"><a class="nav-link" href="/events/create">Create Event</a></li>-->
<!--					<li class="nav-item"><a class="nav-link" href="/events/delete">Delete Events</a></li>-->
<!--					<li class="nav-item"><a class="nav-link" href="/eventCategories/createCategory">Create Category</a></li>-->
<!--					<li class="nav-item"><a class="nav-link" href="/eventCategories">All Categories</a></li>-->
<!--					<li class="nav-item"><a class="nav-link" href="/tags">All Tags</a></li>-->
<!--					<li class="nav-item"><a class="nav-link" href="/tags/createTag">Create Tag</a></li>-->

					<li class="nav-item"><a class="nav-link" th:href="@{/customers}">View Customers</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/customers/create}">Add Customer</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/customers/delete}">Delete Customer</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/customers/edit}">Edit Customer</a></li>
					<li class="nav-item"><a class="nav-link" href="/customerCategories/create">Create Customer Category</a></li>
					<li class="nav-item"><a class="nav-link" href="/customerCategories">All Customers Categories</a></li>
				</ul>
			</div>

		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<br>
		<h1></h1>
		Welcome <span sec:authentication="principal.username"> User</span>
	</div>
</body>
</html>
